@charset "utf-8";
/* CSS Document */

body{
	background-color: #221C35;
	width: 100%;
}

marquee{
	color: aqua;
	font-size: 40px;
}

p{
	color: white;
	text-align: center;
	font-size: 20px;
}

font{
	font-size: 40px;
	color: aqua;
	text-align: center;
}

ul{
	color: white;
	font-size: 20px;
}

buttom{
	align: center;
	background-color: #00FBFF;
	color: black;
	font-size: 5ch;
	border-radius: 10px;
	margin: 5px;
	cursor: pointer; 
}